body {
  
}

.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 3px solid blue;
}


.header {
  border: 2px solid red;
}

.sidebar {
  border: 2px solid red;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

/* @font-face {
  font-family: norse;
  src: url("./fonts/font name .otf");
} */


.main-content {
  border: 2px solid red;
}